@model IEnumerable<Employee>
@using EmployeeWebApplication.Models

@{
    ViewBag.Title = "Index";
}

<h2>Employees List</h2>

<ul>
    @foreach (Employee employee in @Model)
            {
                <li>@Html.ActionLink(employee.Name, "Details", new {id=employee.EmployeeId})</li>
            }
</ul>

